@charset "UTF-8";
/* CSS Document */
@import url("kd_components");

/* Loading */


@font-face
{
font-family: NeoSans;
src: url('NeoSans.otf');
}


body {
    background-color: #fafafa;

}

.main {

    position: absolute;
    top: 0;

    width: 1040px;
    left: 50%;
    margin-left: -520px;
    height: 1160px;

}

.shadowBarLeft {
    
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    
    background-image: url('../image/shadowLeft.png');
}

.shadowBarRight {
    
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url('../image/shadowRight.png');
}

.mainMiddle {
    position: absolute;
    left: 10px;
    right: 10px;
    background-color: #fff;
    top: 0;
    bottom: 0;
}

.header {
    width: 100%;
    height: 70px;

}

.logo {
    position: absolute;
    left: 35px;
    top: 11px;
    width: 130px;
    height: 48px;
    background-image: url('../image/logo.png');
    cursor: pointer;
    
    opacity: 0.5;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
}

.logo:hover {
    opacity: 1;
}

.nav {
    position: absolute;
    right: 10px;
    top: 35px;
    
}

.navCell {
    display: inline-block;
    font-family: NeoSans, Arial;
    font-size: 13px;
    font-weight: 500;
    width: 80px;
    aborder: 1px solid red;
    text-align: center;
    color: #999;   
    cursor: pointer;
    -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
}

.navCell:hover {
    color: #000;
}





/*main Window*/
.mainWindow {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 1090px;

    
}

.singleWindow {
    position: absolute;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}




/* Intro Box */

.introCell {
    position: absolute;
    width: 100%;
    height: 330px;
    
}

#introCell1 {
    top: 0px;
    background-image: url('../image/buy/buy1.png');
    background-repeat: no-repeat;
}

#introCell2 {
    top: 330px;
    background-image: url('../image/buy/buy2.png');
    background-repeat: no-repeat;
}

#introCell3 {
    top: 660px;
    background-image: url('../image/buy/buy3.png');
    background-repeat: no-repeat;
}

.introBoxL1{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    
}
.introBoxR1{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
}

.infiniteCover {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    background-color: #fff;
    margin-top: 2px;
    opacity: 0.8;
}

.introBoxBanner {
    margin-top: 45px;
    margin-left: 260px;
}

.introBoxTitle {
    font-size: 23px;
    color: #666;
    font-weight: 400;
    padding: 8px;
    font-family: NeoSans;
    
    display: inline-block;
}

.introBoxPrice {
    font-size: 21px;
    color: #1f92fe;
    padding: 0 8px;
    font-family: NeoSans;
    font-weight: lighter;
    display: inline-block;
}

.introBoxImg {
    width: 410px;
    height: 160px;
    background-image: url('../image/buy/buy_magnet1.png');
    margin-left: 70px;
    margin-top: 10px;
}

#introCell3 .introBoxImg {

    background-image: url('../image/buy/buy_infinite1.png');

}



/* Box Right */

.introBoxCell1 {
    height: 70px;
    margin-top: 90px;
    margin-left: 30px;
    
}

.introBoxCellText {
    display: inline-block;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    padding: 8px;
    font-family: NeoSans;
    position: relative;
    top: -20px;
}

.introBoxCell2 .introBoxCellText{
    top: -35px;
}

.introBoxCellColorCell {
    display: inline-block;
    margin-left: 10px;
    
}

.colorBox {
    display: inline-block;
    width: 60px;
    height: 60px;
    
}

.colorBoxCell {
    width: 33px;
    height: 33px;
    box-shadow: 0px 0px 0px 1px #fff inset;
    cursor: pointer;
    border: 1px solid #fff;
}

.Pink {
    background-color: #ff009c;

}
.Green {
    background-color: #a9e860;
}
.Grey {
    background-color: #b8b8b8;
}
.Orange {
    background-color: #ff6413;
}
.Blue {
    background-color: #009cff;
}

.colorBoxDes {
    font-size: 11px;
    color: #666;
    font-weight: lighter;
    margin-top: 5px;
    text-align: center;
    width: 33px;
    font-family: NeoSans;
}

.introBoxCell2 {
    height: 90px;
    margin-top: -5px;
    margin-left: 30px;
}

.introBoxCellTypeCell {
    display: inline-block;
    margin-left: 10px;
}

.typeBox {
    width: 90px;
    height: 90px;
    display: inline-block;
}

.typeImg1 {
    width: 56px;
    height: 56px;
    background-image: url('../image/buy/buy_type1.png');
    border: 1px solid #fff;
    cursor: pointer;
}



.typeImg2 {
    width: 56px;
    height: 56px;
    background-image: url('../image/buy/buy_type2.png');
    cursor: pointer;
    border: 1px solid #fff;
}
.typeImg3 {
    width: 56px;
    height: 56px;
    background-image: url('../image/buy/buy_type3.png');
    cursor: pointer;
    border: 1px solid #fff;
}

.typeBoxDes {
    font-size: 11px;
    color: #666;
    font-weight: lighter;
    margin-top: 5px;
    text-align: center;
    width: 56px;
    font-family: NeoSans;
}

.comingSoon {
    font-size: 11px;
    color: #009cff;
    font-weight: lighter;
    margin-top: 5px;
    text-align: center;
    position: absolute;
    font-family: NeoSans;
}

.comingSoonText {
    opacity: 0.6;
}

.typeImg3 {
    opacity: 0.6;
}

.borderBlue {
    border: 1px solid #1f92fe;
}

.textBlue {
    color: #1f92fe;
}

.introBoxCell3 {
    height: 60px;
    margin-top: -10px;
    margin-left: 102px;
}

.buyButton2 {
    display: inline-block;
}

.buyText {
    font-size: 13px;
    color: #666;
    
    margin-top: 5px;
    margin-right: -5px;
    text-align: center;
    width: 56px;
    font-family: NeoSans;
    display: inline-block;
}

.amazonImg {
    height: 49px;
    width: 129px;
    background-image: url('../image/buy/amazon.png');
    display: inline-block;
    position: relative;
    top: 20px;
    cursor: pointer;
}

/* Learn more */

.learnMore {



    height: 20px;
    margin-left: 290px;
    margin-top: 10px;
    font-family: NeoSans;
    font-size: 14px;
    color: #1f92fe;
    cursor: pointer;

}

.learnMore:hover {
    text-decoration: underline;
}

.learnMoreArrow {
    width: 5px;
    height: 6px;
    background-image: url('../image/learnMoreArrow.png');
    

    display: inline-block;
    margin-left: 8px;
    position: relative;
    top: -1px;
}

/* Bottom */

.bottomShadow {
    position: absolute;
    top: 1060px;
    width: 100%;
    height: 17px;
    opacity: 0.4;
    background-image: url('../image/shadowBanner.png');
}

.bottomLogo {
    position: absolute;
    top: 1080px;
    width: 57px;
    height: 66px;
    left: 50%;
    margin-left: -29px;
    opacity: 0.9;
    background-image: url('../image/bottomLogo.png');
    cursor: pointer;
}

/* Button 1*/

.buyButton {
        position: relative;
        top: -2px;
	color: #fff;
	cursor: pointer;
	height: 12px;
	padding-top: 5px;
        width: 70px;
        height: 15px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	font-size: 11px;

	
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ec52ac),to(#cf2d6b));
  background-image: -webkit-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: -moz-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: -ms-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: -o-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: linear-gradient(top,#ec52ac,#cf2d6b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec52ac',EndColorStr='#cf2d6b');
  -webkit-user-select:none;
  -moz-user-select:none;
}

.buyButton:hover {
	
  color: #fff;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f15eb3),to(#cf2d6b));
  background-image: -webkit-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: -moz-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: -ms-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: -o-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: linear-gradient(top,#f15eb3,#cf2d6b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f15eb3',EndColorStr='#cf2d6b');
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.buyButton:active,
.buyButton.active {
	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#cf2d6b),to(#ec52ac));
	background-image: -webkit-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: -moz-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: -ms-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: -o-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: linear-gradient(top,#cf2d6b,#ec52ac);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cf2d6b',EndColorStr='#ec52ac');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);

	color: #fff;
}


/* Button 2*/

.buyButton2 {

	color: #fff;
	cursor: pointer;
	height: 12px;
	padding: 10px 0;
        width: 103px;
        height: 12px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
        font-weight: 500;
        text-align: center;
        font-family: NeoSans;

	
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#60a9ea),to(#387ad6));
  background-image: -webkit-linear-gradient(top,#60a9ea,#387ad6);
  background-image: -moz-linear-gradient(top,#60a9ea,#387ad6);
  background-image: -ms-linear-gradient(top,#60a9ea,#387ad6);
  background-image: -o-linear-gradient(top,#60a9ea,#387ad6);
  background-image: linear-gradient(top,#60a9ea,#387ad6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#60a9ea',EndColorStr='#387ad6');
  -webkit-user-select:none;
  -moz-user-select:none;
}

.buyButton2:hover {
	
  color: #fff;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#7abffd),to(#5496f2));
  background-image: -webkit-linear-gradient(top,#7abffd,#5496f2);
  background-image: -moz-linear-gradient(top,#7abffd,#5496f2);
  background-image: -ms-linear-gradient(top,#7abffd,#5496f2);
  background-image: -o-linear-gradient(top,#7abffd,#5496f2);
  background-image: linear-gradient(top,#7abffd,#5496f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7abffd',EndColorStr='#5496f2');
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.buyButton2:active,
.buyButton2.active {
	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#387ad6),to(#60a9ea));
	background-image: -webkit-linear-gradient(top,#387ad6,#60a9ea);
	background-image: -moz-linear-gradient(top,#387ad6,#60a9ea);
	background-image: -ms-linear-gradient(top,#387ad6,#60a9ea);
	background-image: -o-linear-gradient(top,#387ad6,#60a9ea);
	background-image: linear-gradient(top,#387ad6,#60a9ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#387ad6',EndColorStr='#60a9ea');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);

	color: #fff;
}