@charset "UTF-8";
/* CSS Document */
@import url("kd_components");

/* Loading */


@font-face
{
    font-family: "NeoSans";
    src: url('../font/NeoSans.otf')  format("opentype");
    font-weight: 400;
}

@font-face
{
    font-family: "NeoSans";
    src: url('../font/NeoSans-Light.otf')  format("opentype");
    font-weight: 200;
}


body {
    background-color: #fafafa;

}

.main {

    position: absolute;
    top: 0;

    width: 1040px;
    left: 50%;
    margin-left: -520px;
    height: 1280px;

}

.shadowBarLeft {
    
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    
    background-image: url('../image/shadowLeft.png');
}

.shadowBarRight {
    
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url('../image/shadowRight.png');
}

.mainMiddle {
    position: absolute;
    left: 10px;
    right: 10px;
    background-color: #fff;
    top: 0;
    bottom: 0;
}

.header {
    width: 100%;
    height: 70px;

}

.logo {
    position: absolute;
    left: 35px;
    top: 11px;
    width: 130px;
    height: 48px;
    background-image: url('../image/logo.png');
    cursor: pointer;
    
}

.nav {
    position: absolute;
    right: 10px;
    top: 35px;
    
}

.navCell {
    display: inline-block;
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: 80px;
    aborder: 1px solid red;
    text-align: center;
    color: #999;   
    cursor: pointer;
    -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
}

.navCell:hover {
    color: #000;
}




/*main Window*/
.mainWindow {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 519px;

    border-bottom: 1px solid #ddd;
}

.singleWindow {
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#mainMagnet {
    width: 100%;
    height: 100%;
    background-image: url('../image/magnet1.png');
}

#mainInfinite {
    width: 100%;
    height: 100%;
    background-image: url('../image/infinite2.png');
}

#mainBasic {
    width: 100%;
    height: 100%;
    background-image: url('../image/basic3.png');
}

#mainMagnet .floatingBox {
    position: absolute;
    left: 40px;
    top: 260px;
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
    
}

#mainInfinite .floatingBox {
    position: absolute;
    left: 400px;
    top: 340px;
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
}

#mainBasic .floatingBox {
    position: absolute;
    left: 230px;
    top: 300px;
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
}

.floatingBoxTitle {
    font-size: 30px;
    color: #666;
    font-weight: 400;
    padding: 8px;
}

.floatingBoxText {
    font-size: 16px;
    color: #888;
    padding: 8px;
    line-height: 21px;
}

.floatingButton {
    padding: 8px;
}

.floatingBoxButton {
    margin-left: 8px;
    margin-top: 7px;
}

/* Control panel*/

.controlPanel {
    position: absolute;
    top: 590px;
    width: 100%;
    height: 166px;

}

.panelCell {
    width: 341px;
    height: 100%;
    display: inline-block;
    margin: 0 -4px 0 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    
}

#panel1 {
    background-image: url('../image/controllerCell1.png');
    width: 340px;
    z-index: 200;
    border-right: 1px solid #ddd;
}

#panel2 {
    background-image: url('../image/controllerCell2.png');

    width: 340px;
    border-right: 1px solid #ddd;
}

#panel3 {
    background-image: url('../image/controllerCell3.png');
    width: 338px;
    z-index: 0;
}

.controlPanelArrow {
    position: absolute;
    top: 562px;
    height: 28px;
    width: 341px;
    background-image: url('../image/controllerArrow.png');
    z-index: 200;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.panelTitle {
    width: 100%;
    text-align: center;
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
    color: #1f92fe;
    font-size: 18px;
    padding-top: 20px;
}

.controlPanleShadow {
    position: absolute;
    
    width: 100%;
    height: 17px;
    background-image: url('../image/shadowBanner.png');
    z-index: 100;
}

/* Intro */

.introduction {
    position: absolute;
    top: 800px;
    width: 100%;
    height: 170px;
    
    
}

.introCell {
    width: 25%;
    height: 100%;

    display: inline-block;
    margin: 0 -4px 0 0;
}

.introCellImg {
    width: 100%;
    height: 118px;
}

#introCellImg1 {
    background-image: url('../image/intro1.png');
}

#introCellImg2 {
    background-image: url('../image/intro2.png');
}
#introCellImg3 {
    background-image: url('../image/intro3.png');
}
#introCellImg4 {
    background-image: url('../image/intro4.png');
}

.introCellHeadline {
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    color: #555;
    padding-top: 5px;
    
}

.introCellText {
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: 200;
    color: #888;
    padding-top: 5px;
}


/* Learn more */

.learnMore {
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: "NeoSans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #1f92fe;
    cursor: pointer;
}

.learnMore:hover {
    text-decoration: underline;
}

#learnMoreArrow {
    width: 5px;
    height: 6px;
    background-image: url('../image/learnMoreArrow.png');
    position: absolute;
    left: 50%;
    display: inline-block;
    margin-left: 43px;
    margin-top: 3px;
}

/* Press */
.pressMain {
    position: absolute;
    top: 1080px;
    width: 100%;
    height: 66px;


}

.pressCell {
    height: 100%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.pressCell:hover {
    opacity: 1;
}

#pressCell1 {
    width: 183px;
    background-image: url('../image/press1.png');
    margin-left: 70px;
}

#pressCell2 {
    width: 171px;
    background-image: url('../image/press2.png');
}

#pressCell3 {
    width: 100px;
    background-image: url('../image/press3.png');
}

#pressCell4 {
    width: 271px;
    background-image: url('../image/press4.png');
}

#pressCell5 {
    width: 143px;
    background-image: url('../image/press5.png');
}


/* Bottom */

.bottomShadow {
    position: absolute;
    top: 1180px;
    width: 100%;
    height: 17px;
    opacity: 0.4;
    background-image: url('../image/shadowBanner.png');
}

.bottomLogo {
    position: absolute;
    top: 1200px;
    width: 57px;
    height: 66px;
    left: 50%;
    margin-left: -29px;
    opacity: 0.9;
    background-image: url('../image/bottomLogo.png');
    cursor: pointer;
}

/* Button 1*/

.buyButton {
        position: relative;
        top: -2px;
	color: #fff;
	cursor: pointer;
	height: 12px;
	padding-top: 5px;
        width: 70px;
        height: 15px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	font-size: 11px;

	
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ec52ac),to(#cf2d6b));
  background-image: -webkit-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: -moz-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: -ms-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: -o-linear-gradient(top,#ec52ac,#cf2d6b);
  background-image: linear-gradient(top,#ec52ac,#cf2d6b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec52ac',EndColorStr='#cf2d6b');
  -webkit-user-select:none;
  -moz-user-select:none;
}

.buyButton:hover {
	
  color: #fff;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f15eb3),to(#cf2d6b));
  background-image: -webkit-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: -moz-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: -ms-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: -o-linear-gradient(top,#f15eb3,#cf2d6b);
  background-image: linear-gradient(top,#f15eb3,#cf2d6b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f15eb3',EndColorStr='#cf2d6b');
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.buyButton:active,
.buyButton.active {
	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#cf2d6b),to(#ec52ac));
	background-image: -webkit-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: -moz-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: -ms-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: -o-linear-gradient(top,#cf2d6b,#ec52ac);
	background-image: linear-gradient(top,#cf2d6b,#ec52ac);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cf2d6b',EndColorStr='#ec52ac');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);

	color: #fff;
}


/* Button 2*/

.buyButton2 {

	color: #fff;
	cursor: pointer;
	height: 12px;
	padding: 10px 0;
        width: 103px;
        height: 12px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
        font-weight: 400;
        text-align: center;

	
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#60a9ea),to(#387ad6));
  background-image: -webkit-linear-gradient(top,#60a9ea,#387ad6);
  background-image: -moz-linear-gradient(top,#60a9ea,#387ad6);
  background-image: -ms-linear-gradient(top,#60a9ea,#387ad6);
  background-image: -o-linear-gradient(top,#60a9ea,#387ad6);
  background-image: linear-gradient(top,#60a9ea,#387ad6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#60a9ea',EndColorStr='#387ad6');
  -webkit-user-select:none;
  -moz-user-select:none;
}

.buyButton2:hover {
	
  color: #fff;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#7abffd),to(#5496f2));
  background-image: -webkit-linear-gradient(top,#7abffd,#5496f2);
  background-image: -moz-linear-gradient(top,#7abffd,#5496f2);
  background-image: -ms-linear-gradient(top,#7abffd,#5496f2);
  background-image: -o-linear-gradient(top,#7abffd,#5496f2);
  background-image: linear-gradient(top,#7abffd,#5496f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7abffd',EndColorStr='#5496f2');
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.buyButton2:active,
.buyButton2.active {
	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#387ad6),to(#60a9ea));
	background-image: -webkit-linear-gradient(top,#387ad6,#60a9ea);
	background-image: -moz-linear-gradient(top,#387ad6,#60a9ea);
	background-image: -ms-linear-gradient(top,#387ad6,#60a9ea);
	background-image: -o-linear-gradient(top,#387ad6,#60a9ea);
	background-image: linear-gradient(top,#387ad6,#60a9ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#387ad6',EndColorStr='#60a9ea');
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);

	color: #fff;
}